body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0b0b;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}

h1 {
  font-size: 3rem;
  color: #c9a24d;
}

input, textarea, button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
}

textarea {
  resize: none;
}

button {
  background: #c9a24d;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #b18b3c;
}

img {
  margin-top: 40px;
  width: 100%;
  border-radius: 20px;
}
